#wrapper {
    background-color: #ddd;
    border-left: 3px gray solid;
}

body {
    margin: 0;
    background-color: #dddddd;
}

.ul-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}