@{
    ViewBag.Title = "RetailApp";
}
<h2>Домашнюю странница RetailApp - Склад</h2>
<p>
    Добро пожаловать на домашнюю странницу RetailApp - Склад. Данное веб-приложение "RetailApp - Склад" предоставляется 
    функционал по автоматизации учета хранения товаров на складе, а конкретнее:
</p>
<ul>
    <li>Просмотр информации о товаров хранящихся на всех зарегестрированых складах</li>
    <li>Регестрация поставок товара</li>
    <li>Регестрация отгрузок товара</li>
</ul>