@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>RetailApp - Склад</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Добро пожаловать на домашнюю страницу RetailApp - Склад</h2>
</body>
</html>